## 复合主键类模板
## 使用场景：当表有 2 个或以上主键字段时生成此类
## 如果不是复合主键，输出空内容，文件将被跳过
#if(!$table || !$table.isCompositePrimaryKey())
#end
#if($table && $table.isCompositePrimaryKey())
package ${rootPackage}.key;

import java.io.Serializable;
import java.util.Objects;

#if(${lombok})
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
#end

/**
 * ${table.beanName}复合主键类
 * 主键字段：${table.primaryKeyInfo.fieldNames}
 * 
 * @author ${author}
 * @date ${date}
 */
#if(${lombok})
@Data
@NoArgsConstructor
@AllArgsConstructor
#end
public class ${table.beanName}Key implements Serializable {
    
    private static final long serialVersionUID = 1L;
    
#if(!$lombok)
    #foreach($field in ${table.primaryKeyInfo.fields})
    /** ${field.comment} */
    private ${field.fieldType.type} ${field.propertyName};
    #end
    
    #foreach($field in ${table.primaryKeyInfo.fields})
    public ${field.fieldType.type} get${field.capitalName}() {
        return ${field.propertyName};
    }
    
    public void set${field.capitalName}(${field.fieldType.type} ${field.propertyName}) {
        this.${field.propertyName} = ${field.propertyName};
    }
    
    #end
#end

#if(!$lombok)
    @Override
    public boolean equals(Object o) {
        if (this == o) return true;
        if (o == null || getClass() != o.getClass()) return false;
        ${table.beanName}Key that = (${table.beanName}Key) o;
        return #foreach($field in ${table.primaryKeyInfo.fields})Objects.equals(${field.propertyName}, that.${field.propertyName})#if($foreach.count < ${table.primaryKeyInfo.fields.size()}) && #end#end;
    }
    
    @Override
    public int hashCode() {
        return Objects.hash(#foreach($field in ${table.primaryKeyInfo.fields})${field.propertyName}#if($foreach.count < ${table.primaryKeyInfo.fields.size()}), #end#end);
    }
    
    @Override
    public String toString() {
        return "${table.beanName}Key{" +
        #foreach($field in ${table.primaryKeyInfo.fields})"${field.propertyName}=" + ${field.propertyName}#if($foreach.count < ${table.primaryKeyInfo.fields.size()}) + ", " + #end#end +
        '}';
    }
#end
}
#end
