target
.idea
*.iml
**/.settings
**/.project
**/.classpath
.DS_Store
**/.gradle/**
**/target/**
**/logs/**
**/node_modules/**
**/generator.yaml
**/yarn.lock
**/package-lock.json
./cmd/bin/**
./web/bin/**
