<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageMapper}.${table.beanName}">

#if(${enableCache})
	<!-- 开启二级缓存 cache二選一，區別在於是否記錄日誌-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->  

#end

#if(${baseResultMap})
	<resultMap id="BaseResultMap" type="${packageEntity}.${EntityName}">
#foreach($field in ${table.fields})
		<id column="${field.name}" property="${field.propertyName}" />
#end
	</resultMap>
#end

#if(${columns})
    <sql id="columns">
      <![CDATA[
        ${table.fieldNames}
      ]]>  
    </sql>
#end
#if($insert)
	<insert id="save" parameterType="${packageEntity}.${EntityName}" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		INSERT INTO ${table.name} (#foreach($field in ${table.fields})#set($notLast=($foreach.count!=${table.fields.size()}))${field.name} #if($notLast),#end#end
 
		) VALUES ( 
	#foreach($field in ${table.fields})#set($notLast=($foreach.count!=${table.fields.size()}))#{${field.propertyName},jdbcType=${field.type}}#if($notLast),#end#end
		)
		]]>
	</insert>
#end	
</mapper>
