<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageMapper}.${MapperName}">

#if(${enableCache})
	<!-- 开启二级缓存 cache二選一，區別在於是否記錄日誌-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->  

#end

#if(${baseResultMap})
	<resultMap id="BaseResultMap" type="${packageEntity}.${EntityName}">
#foreach($field in ${table.fields})
		<id column="${field.name}" property="${field.propertyName}" jdbcType="${field.type}"/>
#end
	</resultMap>
#end

#if(${columns})
    <sql id="columns">
      <![CDATA[
        ${table.fieldNames}
      ]]>  
    </sql>
#end

#if($findById)
	<!-- TODO parameterType联合主键处理 -->
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT #if(${columns}) <include refid="columns"/> #else  ${table.fieldNames} #end
	<![CDATA[
		FROM ${table.name} 
		WHERE #foreach($field in ${table.pkFields}) ${field.name} = #{${field.propertyName},jdbcType=${field.type}} #if($foreach.count!=${table.fields.size()}) and #end #end 
	]]>
	</select>	
#end

#if($findAll)
    <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select	* from ${table.name} where 1=1  
		<include refid="queryWhere"/> 
	</select>
#end	
#if($insert)

	<!-- TODO id联合主键处理 -->
	<insert id="save" parameterType="${packageEntity}.${EntityName}" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		INSERT INTO ${table.name} (#foreach($field in ${table.fields})#set($notLast=($foreach.count!=${table.fields.size()}))${field.name} #if($notLast),#end#end
 
		) VALUES ( 
	#foreach($field in ${table.fields})#set($notLast=($foreach.count!=${table.fields.size()}))#{${field.propertyName},jdbcType=${field.type}}#if($notLast),#end#end
		)
		]]>
	</insert>
#end

#if($update)

	<update id="update" parameterType="${packageEntity}.${EntityName}">
		UPDATE ${table.name} 
		<set>
		#foreach($field in ${table.fields})
		
			<if test="${field.name} != null">
				${field.name} = #{${field.propertyName},jdbcType=${field.type}} #if($foreach.count!=${table.fields.size()}),#end
				
			</if>
		#end
		</set>
		WHERE #foreach($field in ${table.pkFields}) ${field.name} = #{${field.propertyName},jdbcType=${field.type}} #if($foreach.count!=${table.fields.size()}) and #end #end
		     
	</update>
#end

#if($deleteById)

	<!-- TODO parameterType联合主键处理 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		<![CDATA[DELETE FROM ${table.name}  WHERE #foreach($field in ${table.pkFields}) ${field.name} = #{${field.propertyName},jdbcType=${field.type}} #if($foreach.count!=${table.fields.size()}) and #end #end]]>
	</delete>
#end

	<sql id="queryWhere">
#foreach($field in ${table.fields})
	
		<if test="${field.name} != null">
			and ${field.name} = #{${field.propertyName}} 
		</if>
#end
	</sql>	
</mapper>