<div id="pageInfo" th:fragment="pageInfo (action)">
	<div th:unless="${page.isFirstPage}">
		<a
			th:href="@{${action}(pageNo=1,pageRows=${page.pageSize})}">首页</a>
	</div>
	<div th:unless="${page.isFirstPage}">
		<a
			th:href="@{${action}(pageNo=${page.prePage},pageRows=${page.pageSize})}">上一页</a>
	</div>
	<div th:each="nav:${page.navigatepageNums}">
		<a
			th:href="@{${action}(pageNo=${nav},pageRows=${page.pageSize})}"
			th:text="${nav}">2</a>
	</div>
	<div th:unless="${page.isLastPage}">
		<a
			th:href="@{${action}(pageNo=${page.nextPage},pageRows=${page.pageSize})}">下一页</a>
	</div>
	<div th:unless="${page.isLastPage}">
		<a
			th:href="@{${action}(pageNo=${page.pages},pageRows=${page.pageSize})}">尾页</a>
	</div>
</div>