#if("$mapperType"=="xml" || "plus"=="$mapperType")
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${mapperPackage}.${mapperName}">
#if(${enableCache})
	<!-- 开启二级缓存 cache二選一，區別在於是否記錄日誌-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->  
#end

#if(${baseResultMap})
	<resultMap id="BaseResultMap" type="${entityPackage}.${entityName}">
#foreach($field in ${table.fields})
	<result column="${field.name}" property="${field.propertyName}" jdbcType="${field.jdbcType}"/>
#end
	</resultMap>
	
#end

#if(${columns})
    <sql id="columns">
      <![CDATA[
        ${table.fieldNames}
      ]]>  
    </sql>
#end

#if($findById)
	<select id="selectById" resultMap="BaseResultMap" >
	    SELECT #if(${columns}) <include refid="columns"/> #else  ${table.fieldNames} #end from ${table.name}
		WHERE #foreach($field in ${table.primarykeyFields}) ${field.name} = #{${field.propertyName},jdbcType=${field.jdbcType}} #if($velocityCount <${table.primarykeyFields.size()}) and #end #end 
	
	</select>	
#end
#if("plus"!="$mapperType")

#if($findOne)
	<select id="findOne" resultMap="BaseResultMap" parameterType="java.util.Map">
	    SELECT #if(${columns}) <include refid="columns"/> #else  ${table.fieldNames} #end
		FROM ${table.name} where 1=1 <include refid="queryWhere"/> 
	</select>	
#end
#if($count)	
	<select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(1) from ${table.name} where 1=1
		<include refid="queryWhere"/>
	</select>
#end	
#if($findPage)	
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from ${table.name} where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY #foreach($field in ${table.primarykeyFields}) ${field.name} = #{${field.propertyName},jdbcType=${field.jdbcType}} #if($velocityCount <${table.primarykeyFields.size()}) and #end #end  DESC ]]>
        <![CDATA[ LIMIT #{startRecord},#{endRecord} ]]>
	</select>
#end	
#if($findAll)
    <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select	* from ${table.name} where 1=1 <include refid="queryWhere"/>  order by #foreach($field in ${table.primarykeyFields}) ${field.name} #if($velocityCount <${table.primarykeyFields.size()}) , #end#end desc
	</select>
#end
#end	
#if($insert)
	<!-- TODO 	1. 返回复合主键 	2. 主键处理 -->
	<!-- 返回主键：
	1. insert节点中添加useGeneratedKey和keyProperty属性
	2. insert节点下添加selectKey子节点的方式
	 -->
	<insert id="insert" parameterType="${entityPackage}.${entityName}" useGeneratedKeys="true" keyProperty="${table.primaryKeyField.propertyName}">
		<!-- 
		<selectKey resultType="#if(${table.primaryKeyField.fieldType.claz})${table.primaryKeyField.fieldType.claz}#else java.lang.${table.primaryKeyField.fieldType.type}#end" order="AFTER" keyProperty="${table.primaryKeyField.propertyName}">
			SELECT LAST_INSERT_ID()  
		</selectKey>
		 <selectKey type="pre" resultClass="#if(${table.primaryKeyField.fieldType.claz})${table.primaryKeyField.fieldType.claz}#else java.lang.${table.primaryKeyField.fieldType.type}#end" order="AFTER" keyProperty="${table.primaryKeyField.propertyName}">
		   SELECT @@IDENTITY AS id
		   </selectKey>
		 -->
		<![CDATA[
		INSERT INTO ${table.name} (#foreach($field in ${table.fields})#if(!${field.isIdentity()})${field.name} #if($velocityCount <${table.fields.size()}),#end#end#end
		) VALUES (#foreach($field in ${table.fields})#if(!${field.isIdentity()})#{${field.propertyName},jdbcType=${field.jdbcType}}#if($velocityCount <${table.fields.size()}),#end#end#end)
		]]>
	</insert>
#end

#if("plus"!="$mapperType")
#if($update)

	<update id="update" parameterType="${entityPackage}.${entityName}">
		UPDATE ${table.name} 
		<set>
#foreach($field in ${table.fields})
#if(!$field.isPrimarykey())	
			<if test="${field.propertyName} != null">
				${field.name} = #{${field.propertyName},jdbcType=${field.jdbcType}} #if($velocityCount < ${table.fields.size()}),#end
				
			</if>
#end	
#end
		</set>
		WHERE #foreach($field in ${table.primarykeyFields}) ${field.name} = #{${field.propertyName},jdbcType=${field.jdbcType}} #if($velocityCount <${table.primarykeyFields.size()}) and #end #end
		     
	</update>
#end
#end

#if($deleteById)

	<delete id="deleteById"  >
		<![CDATA[DELETE FROM ${table.name}  WHERE #foreach($field in ${table.primarykeyFields}) ${field.name} = #{${field.propertyName},jdbcType=${field.jdbcType}} #if($velocityCount <${table.primarykeyFields.size()}) and #end #end]]>
	</delete>
#end
	<sql id="queryWhere">
#foreach($field in ${table.fields})
		<if test="${field.name} != null and ${field.name} != ''">
			and ${field.name} = #{${field.propertyName}} 
		</if>
#end
	</sql>	
</mapper>
#end