#if("GRADLE"=="${global.projectBuilder}")
plugins {
    id 'java'
}

group = '${rootPackage}'
version = '${version}'
description = '${projectName}-${moduleName}'

java {
    sourceCompatibility = JavaVersion.VERSION_${bytecodeRelease}
    targetCompatibility = JavaVersion.VERSION_${bytecodeRelease}
}

tasks.withType(JavaCompile).configureEach {
    options.encoding = 'UTF-8'
}

repositories {
    mavenCentral()
}

dependencies {
    implementation project(':${projectName}-${moduleName}')
    implementation group: 'org.mybatis', name: 'mybatis', version:'3.4.4'
#if($!{enableCache})
    implementation group: 'net.sf.ehcache', name: 'ehcache', version:'2.8.3'
    implementation group: 'org.mybatis.caches', name: 'mybatis-ehcache', version:'1.1.0'
#end
    implementation group: 'org.springframework', name: 'spring-context', version:'4.3.9.RELEASE'
    implementation group: 'org.springframework', name: 'spring-web', version:'4.3.9.RELEASE'
#if("mysql"=="${dbType}")
    runtimeOnly group: 'com.mysql', name: 'mysql-connector-j', version:'${mysql_connector_version}'
#end
    compileOnly group: '${servletApiGroupId}', name: '${servletApiArtifactId}', version:'3.0-alpha-1'
    testImplementation group: 'org.junit.jupiter', name: 'junit-jupiter', version:'5.10.2'
}

test {
    useJUnitPlatform()
}
#end
