package ${packagePath};

import ${global.rootPackage}.${global.projectName}.${moduleName}.annotation.Idempotent;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.redis.core.StringRedisTemplate;
import org.springframework.stereotype.Component;
import org.springframework.util.StringUtils;
import org.springframework.web.method.HandlerMethod;
import org.springframework.web.servlet.HandlerInterceptor;

#if($global.javaVersion == '8' || $global.javaVersion == '11')
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
#else
import jakarta.servlet.http.HttpServletRequest;
import jakarta.servlet.http.HttpServletResponse;
#end
import java.lang.reflect.Method;

/**
 * 幂等性拦截器
 */
@Component
public class IdempotentInterceptor implements HandlerInterceptor {

    @Autowired
    private StringRedisTemplate stringRedisTemplate;

    @Override
    public boolean preHandle(HttpServletRequest request, HttpServletResponse response, Object handler) throws Exception {
        if (!(handler instanceof HandlerMethod)) {
            return true;
        }
        
        HandlerMethod handlerMethod = (HandlerMethod) handler;
        Method method = handlerMethod.getMethod();
        Idempotent idempotent = method.getAnnotation(Idempotent.class);
        if (idempotent != null) {
            checkIdempotent(request, idempotent);
        }
        return true;
    }

    private void checkIdempotent(HttpServletRequest request, Idempotent idempotent) throws Exception {
        String tokenName = idempotent.tokenName();
        String token = request.getHeader(tokenName);
        if (!StringUtils.hasText(token)) {
            token = request.getParameter(tokenName);
        }
        
        if (!StringUtils.hasText(token)) {
            throw new RuntimeException("幂等Token不能为空");
        }
        
        // 结合 Redis 验证 Token 是否存在，如果存在则删除
        Boolean success = stringRedisTemplate.delete("idempotent_token:" + token);
        if (success == null || !success) {
            throw new RuntimeException(idempotent.message());
        }
    }
}
