#if("GRADLE"=="${global.projectBuilder}")
plugins {
    id 'java-library'
}

group = '${rootPackage}'
version = '${version}'
description = ''

java {
    sourceCompatibility = JavaVersion.VERSION_${bytecodeRelease}
    targetCompatibility = JavaVersion.VERSION_${bytecodeRelease}
}

tasks.withType(JavaCompile).configureEach {
    options.encoding = 'UTF-8'
}

repositories {
    mavenCentral()
}

dependencies {
    api group: 'commons-lang', name: 'commons-lang', version:'2.4'
    testImplementation group: 'org.junit.jupiter', name: 'junit-jupiter', version:'5.10.2'
}

test {
    useJUnitPlatform()
}
#end
