<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>$!{table.comment}列表</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/ace.min.css"
	class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="/css/style.css" />
<script src="/scripts/jquery-2.1.4.min.js"></script>
<script src="/scripts/list.js"></script>
</head>
<body>
	<form action="/$!{table.beanName}/list" method="post">
		<fieldset>
			#foreach($field in ${table.fields})#if("$!{field.comment}"!=""&&!${field.isPrimarykey()})
			<div class="form-group">
				<label class="col-sm-1 control-label no-padding-right">${field.comment}:
				</label>
				<div class="col-sm-2">
					<input name="${field.propertyName}" placeholder="${field.comment}"
						class="col-xs-2 col-sm-8" type="text" th:value="*{map['${field.propertyName}']}" />
				</div>
			</div>
			#end #end <input type="submit" value="搜索" style="margin-left: 95%" />
		</fieldset>
	</form>
	<a th:href="@{/$!{table.beanName}/add}">添加</a>
	<!-- 
	<table class="ui-jqgrid-htable ui-common-table ">
	 -->
<table class="table  table-bordered table-hover">
		<thead>
			<tr class="ui-jqgrid-labels">
				<th id="grid-table_cb"
					class="ui-th-column ui-th-ltr ui-state-default">操作</th>
				#foreach($field in ${table.fields})
				<th id="grid-table_${field.propertyName}"
					class="ui-th-column ui-th-ltr ui-state-default">#if("$!{field.comment}"!="")$!{field.comment}
					#else $!{field.name} #end</th> #end
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,stats: ${page.list}">
				<td  class="jqgrow ui-row-ltr ui-widget-content">
					<a th:href="@{/${table.beanName}/view/{id}/view(id=#foreach($field in ${table.primarykeyFields})*{item.${field.propertyName}}#if($velocityCount<${table.primarykeyFields.size()}),#end#end)}">查看</a>
					<a th:href="@{/${table.beanName}/view/{id}/update(id=#foreach($field in ${table.primarykeyFields})*{item.${field.propertyName}}#if($velocityCount<${table.primarykeyFields.size()}),#end#end)}">修改</a>
					<a th:href="@{/${table.beanName}/del/{id}(id=#foreach($field in ${table.primarykeyFields})*{item.${field.propertyName}}#if($velocityCount<${table.primarykeyFields.size()}),#end#end)}">删除</a>
				</td> 
				#foreach($field in ${table.fields})
				<td th:text="*{item.${field.propertyName}}"
					th:class="${stats.even}? 'jqgrow ui-row-ltr ui-widget-content' : 'jqgrow ui-row-ltr ui-widget-content ui-priority-secondary'">字段名${velocityCount}</td>
				#end
			</tr>
		</tbody>
	</table>
	<div th:replace="/commons/page :: pageInfo (action='/${table.beanName}/list')"></div>
	
</body>
</html>
