<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>$!{table.comment}列表</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/ace.min.css"
	class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<form action="/$!{table.beanName}/list" method="post">
		<fieldset>
			#foreach($field in ${table.fields}) #if(!$!{field.comment})
			<div class="form-group">
				<label class="col-sm-1 control-label no-padding-right">${field.comment}:
				</label>
				<div class="col-sm-2">
					<input name="${field.propertyName}" placeholder="${field.comment}"
						class="col-xs-2 col-sm-8" type="text" />
				</div>
			</div>
			#end #end <input type="submit" value="搜索" style="margin-left: 95%" />
		</fieldset>
	</form>
	<!-- 
	<table class="ui-jqgrid-htable ui-common-table ">
	 -->
<table class="table  table-bordered table-hover">
		<thead>
			<tr class="ui-jqgrid-labels">
				<th id="grid-table_cb"
					class="ui-th-column ui-th-ltr ui-state-default">序号</th>
				#foreach($field in ${table.fields})
				<th id="grid-table_${field.propertyName}"
					class="ui-th-column ui-th-ltr ui-state-default">#if($!{field.comment})$!{field.comment}
					#else $!{field.name} #end</th> #end
			</tr>
		</thead>
		<tbody>
			<tr th:each="item,stats: ${page.list}">
				<td th:text="${stats.count}"
					class="jqgrow ui-row-ltr ui-widget-content">1</td> #foreach($field
				in ${table.fields})
				<td th:text="*{item.${field.propertyName}}"
					th:class="${stats.even}? 'jqgrow ui-row-ltr ui-widget-content' : 'jqgrow ui-row-ltr ui-widget-content ui-priority-secondary'">字段名${velocityCount}</td>
				#end
			</tr>
		</tbody>
	</table>
	<div id="pageInfo"  >
		<div th:unless="${page.isFirstPage}">
			<a
				th:href="@{/$!{table.beanName}/list(pageNo=1,pageRows=${page.pageSize})}">首页</a>
		</div>
		<div th:unless="${page.isFirstPage}">
			<a
				th:href="@{/$!{table.beanName}/list(pageNo=${page.prePage},pageRows=${page.pageSize})}">上一页</a>
		</div>
		<div th:each="nav:${page.navigatepageNums}">
			<a
				th:href="@{/$!{table.beanName}/list(pageNo=${nav},pageRows=${page.pageSize})}"
				th:text="${nav}">2</a>
		</div>
		<div th:unless="${page.isLastPage}">
			<a
				th:href="@{/$!{table.beanName}/list(pageNo=${page.nextPage},pageRows=${page.pageSize})}">下一页</a>
		</div>
		<div th:unless="${page.isLastPage}">
			<a
				th:href="@{/$!{table.beanName}/list(pageNo=${page.pages},pageRows=${page.pageSize})}">尾页</a>
		</div>
	</div>
	
	<!-- <table class="ui-pg-table ui-common-table ui-pager-table ">
		<tbody>
			<tr>
				<td id="grid-pager_left" align="left">
					<table class="ui-pg-table navtable ui-common-table">
						<tbody>
							<tr>
								<td class="ui-pg-button ui-corner-all" title=""
									id="add_grid-table">
									<div class="ui-pg-div">
										<span class="ui-icon ace-icon fa fa-plus-circle purple"></span>
									</div>
								</td>
								<td class="ui-pg-button ui-corner-all" title=""
									id="edit_grid-table">
									<div class="ui-pg-div">
										<span class="ui-icon ace-icon fa fa-pencil blue"></span>
									</div>
								</td>
								<td class="ui-pg-button ui-corner-all" title=""
									id="view_grid-table">
									<div class="ui-pg-div">
										<span class="ui-icon ace-icon fa fa-search-plus grey"></span>
									</div>
								</td>
								<td class="ui-pg-button ui-corner-all" title=""
									id="del_grid-table">
									<div class="ui-pg-div">
										<span class="ui-icon ace-icon fa fa-trash-o red"></span>
									</div>
								</td>
								<td class="ui-pg-button ui-state-disabled" title=""><span
									class="ui-separator"></span></td>
								<td class="ui-pg-button ui-corner-all" title=""
									id="search_grid-table">
									<div class="ui-pg-div">
										<span class="ui-icon ace-icon fa fa-search orange"></span>
									</div>
								</td>
								<td class="ui-pg-button ui-corner-all" title=""
									id="refresh_grid-table">
									<div class="ui-pg-div">
										<span class="ui-icon ace-icon fa fa-refresh green"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td id="grid-pager_center" style="white-space: pre;" align="center">
					<table class="ui-pg-table ui-common-table ui-paging-pager">
						<tbody>
							<tr>
								<td id="first_grid-pager" th:unless="${page.isFirstPage}"
									class="ui-pg-button ui-corner-all ui-state-disabled" title="首頁"
									style="cursor: default;"><span
									class="ui-icon ace-icon fa fa-angle-double-left bigger-140"><a
										th:href="@{/$!{table.beanName}/list(pageNo=1,pageRows=${page.pageSize})}">首页</a></span>
								</td>
								<td id="prev_grid-pager"
									class="ui-pg-button ui-corner-all ui-state-disabled"
									title="Previous Page" style="cursor: default;"><span
									class="ui-icon ace-icon fa fa-angle-left bigger-140"></span></td>
								<td class="ui-pg-button ui-state-disabled"
									style="cursor: default;"><span class="ui-separator"></span></td>
								<td id="input_grid-pager" dir="ltr">Page <input
									class="ui-pg-input ui-corner-all" size="2" maxlength="7"
									value="0" role="textbox" type="text" /> of <span
									id="sp_1_grid-pager">3</span></td>
								<td class="ui-pg-button ui-state-disabled"
									style="cursor: default;"><span class="ui-separator"></span></td>
								<td id="next_grid-pager" class="ui-pg-button ui-corner-all"
									title="Next Page" style="cursor: default;"><span
									class="ui-icon ace-icon fa fa-angle-right bigger-140"></span></td>
								<td id="last_grid-pager" class="ui-pg-button ui-corner-all"
									title="Last Page" style="cursor: default;"><span
									class="ui-icon ace-icon fa fa-angle-double-right bigger-140"></span></td>
								<td dir="ltr"><select
									class="ui-pg-selbox ui-widget-content ui-corner-all"
									role="listbox" title="Records per Page"><option
											role="option" value="10" selected="selected">10</option>
										<option role="option" value="20">20</option>
										<option role="option" value="30">30</option></select></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td id="grid-pager_right" align="right">
					<div dir="ltr" style="text-align: right" class="ui-paging-info">View
						1 - 10 of 23</div>
				</td>
			</tr>
		</tbody>
	</table>
	 -->
</body>
</html>
