<div class="navbar-container ace-save-state" id="navbar-container">
	<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
		<span class="sr-only">Toggle sidebar</span>

		<span class="icon-bar"></span>

		<span class="icon-bar"></span>

		<span class="icon-bar"></span>
	</button>

	<div class="navbar-header pull-left">
		<a href="/" class="navbar-brand" style="padding:0;">
			<small style="position:relative;top:-15px;">
				<i class="fa-logo"></i>
				易港金融后台管理系统
			</small>
		</a>
	</div>
	<div class="navbar-buttons navbar-header pull-right" role="navigation">
		<ul class="nav ace-nav">
			<li class="grey dropdown-modal">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="ace-icon fa fa-tasks"></i>
					<span class="badge badge-grey">4</span>
				</a>

				<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
					<li class="dropdown-header">
						<i class="ace-icon fa fa-check"></i>
						4 个未完成的任务
					</li>

					<li class="dropdown-content">
						<ul class="dropdown-menu dropdown-navbar">
							<li>
								<a href="#">
									<div class="clearfix">
										<span class="pull-left">PC改版</span>
										<span class="pull-right">65%</span>
									</div>

									<div class="progress progress-mini">
										<div style="width:65%" class="progress-bar"></div>
									</div>
								</a>
							</li>

							<li>
								<a href="#">
									<div class="clearfix">
										<span class="pull-left">后台改版</span>
										<span class="pull-right">35%</span>
									</div>

									<div class="progress progress-mini">
										<div style="width:35%" class="progress-bar progress-bar-danger"></div>
									</div>
								</a>
							</li>

							<li>
								<a href="#">
									<div class="clearfix">
										<span class="pull-left">活动</span>
										<span class="pull-right">15%</span>
									</div>

									<div class="progress progress-mini">
										<div style="width:15%" class="progress-bar progress-bar-warning"></div>
									</div>
								</a>
							</li>

							<li>
								<a href="#">
									<div class="clearfix">
										<span class="pull-left">Bug 修复</span>
										<span class="pull-right">90%</span>
									</div>

									<div class="progress progress-mini progress-striped active">
										<div style="width:90%" class="progress-bar progress-bar-success"></div>
									</div>
								</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-footer">
						<a href="#">
							查看所有任务
							<i class="ace-icon fa fa-arrow-right"></i>
						</a>
					</li>
				</ul>
			</li>

			<li class="purple dropdown-modal">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="ace-icon fa fa-bell icon-animated-bell"></i>
					<span class="badge badge-important">8</span>
				</a>

				<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
					<li class="dropdown-header">
						<i class="ace-icon fa fa-exclamation-triangle"></i>
						8 条通知
					</li>

					<li class="dropdown-content">
						<ul class="dropdown-menu dropdown-navbar navbar-pink">
							<li>
								<a href="#">
									<div class="clearfix">
										<span class="pull-left">
											<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
											新评论
										</span>
										<span class="pull-right badge badge-info">+12</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="clearfix">
										<span class="pull-left">
											<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
											粉丝
										</span>
										<span class="pull-right badge badge-info">+11</span>
									</div>
								</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-footer">
						<a href="#">
							查看所有通知
							<i class="ace-icon fa fa-arrow-right"></i>
						</a>
					</li>
				</ul>
			</li>

			<li class="green dropdown-modal">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
					<span class="badge badge-success">5</span>
				</a>

				<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
					<li class="dropdown-header">
						<i class="ace-icon fa fa-envelope-o"></i>
						1 条消息
					</li>

					<li class="dropdown-content">
						<ul class="dropdown-menu dropdown-navbar">
							<li>
								<a href="#" class="clearfix">
									<img src="/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
									<span class="msg-body">
										<span class="msg-title">
											<span class="blue">xx:</span>
											这是一条消息 一条消息 ......
										</span>

										<span class="msg-time">
											<i class="ace-icon fa fa-clock-o"></i>
											<span>1 分钟以前 </span>
										</span>
									</span>
								</a>
							</li>
						</ul>
					</li>

					<li class="dropdown-footer">
						<a href="###">
							查看所有消息
							<i class="ace-icon fa fa-arrow-right"></i>
						</a>
					</li>
				</ul>
			</li>

			<li class="light-blue dropdown-modal">
				<a data-toggle="dropdown" href="#" class="dropdown-toggle">
					<img class="nav-user-photo" src="/images/avatars/user.jpg" alt="Jason's Photo" />
					<span class="user-info">
						<small>Welcome,</small>
						Jason
					</span>
					<i class="ace-icon fa fa-caret-down"></i>
				</a>
				<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
					<li>
						<a href="#">
							<i class="ace-icon fa fa-cog"></i>
							设置
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">
							<i class="ace-icon fa fa-power-off"></i>
							退出登录
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div><!-- /.navbar-container -->