	<ul class="nav nav-list">
		<li class="active">
			<a href="/">
				<i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text">主面板</span>
			</a>
			<b class="arrow"></b>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text">
					数据库库表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				#foreach($tab in ${tables})		
					<li class="">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text">${tab.name}</span>
						<b class="arrow"></b>
					</li>
			 	#end 
			</ul>
		</li>
	 
	</ul>
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>