	<ul class="nav nav-list">
		<li class="active">
			<a href="/">
				<i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text">主面板</span>
			</a>
			<b class="arrow"></b>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text">
					用户资金管理表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
				 	<a href="/Account/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 用户资金表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/AccountBank/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 用户银行卡表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/AccountCash/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 用户提现表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/AccountLog/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text">用户日志表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/AccountRecharge/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text">用户充值表 </span>
					</a>
					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-list"></i>
				<span class="menu-text">
					借款管理表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
				 	<a href="/Borrow/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 借款表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/BorrowAdvances/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 垫款表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/BorrowAdvancesRecord/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 垫款记录表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/BorrowApply/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text">借款申请表 </span>
					</a>
					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-pencil-square-o"></i>
				<span class="menu-text">
					地区管理表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
				 	<a href="/Area/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 地区表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/AreaBank/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 银行地区表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/AreaMmm/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 双乾地区表 </span>
					</a>
					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-list-alt"></i>
				<span class="menu-text">
					自动投标管理表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
					<a href="/AutoInvalidRank/list">
						<i class="menu-icon fa fa-caret-right"></i>
						有效投资排名表
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="/AutoSetLog/list">
						<i class="menu-icon fa fa-caret-right"></i>
						自动投标修改记录
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="/AutoTender/list">
						<i class="menu-icon fa fa-caret-right"></i>
						自动投资所有排名表
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="/AutoValidRank/list">
						<i class="menu-icon fa fa-caret-right"></i>
						自动投资有效排名
					</a>

					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-calendar"></i>
				<span class="menu-text">
					认证管理表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
					<a href="/Attestation/list">
						<i class="menu-icon fa fa-caret-right"></i>
						认证表-无用表
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="/AttestationType/list">
						<i class="menu-icon fa fa-caret-right"></i>
						认证状态-无用表
					</a>

					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-picture-o"></i>
				<span class="menu-text">
					担保账户管理表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
				 	<a href="/BailRepay/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 担保账户还款表 </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
				 	<a href="/BailRepayAccount/list">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 担保账户还款记录表 </span>
					</a>
					<b class="arrow"></b>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-tag"></i>
				<span class="menu-text">
					其他管理表
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
					<a href="/AddInterestCollection/list">
						<i class="menu-icon fa fa-caret-right"></i>
						投资加息表
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="two-menu-1.html">
						<i class="menu-icon fa fa-caret-right"></i>
						APP登录表
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="/ApiTokenStore/list">
						<i class="menu-icon fa fa-caret-right"></i>
						调度表
					</a>

					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="/Article/list">
						<i class="menu-icon fa fa-caret-right"></i>
						文章表
					</a>

					<b class="arrow"></b>
				</li>
			</ul>
		</li>
	</ul>
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>